body {
  font-family: Poppins;
  background-color: #1576b8 !important;
}

.signin-container {
  background-color: white;
  width: 35%;
  height: auto;
  margin: 5% auto;
  padding: 4%;
  color: #001d3d;
  font-family: Poppins;
  border-radius: 10px;

  .signin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .img-header {
      width: 100%;
    }

    .tagline {
      font-size: 0.9rem;
      padding-left: 23%;
      padding-bottom: 8%;
      margin-top: -18px;
    }
  }

  .submit-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #015792;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 1.5%;
  }

  .forgot-password {
    display: flex;
    justify-content: center;
    padding: 2%;
    text-decoration: none;
  }

  .create-account-btn {
    background-color: #26ab35;
    border: none;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: 1.5%;
  }
}
